doctype html
html(lang='pl')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, minimal-ui')
		meta(name='HandheldFriendly', content='false')
		meta(name='MobileOptimized', content='320')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='bla bla bla')
		meta(name='keywords', content='Code Of THUG LIFE')
		meta(name='author', content='KSz')
		title Restaurant
		link(rel='stylesheet', href='https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css')
		script(src='https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')

		link(rel='author', hronef='humans.txt')
		link(rel='stylesheet', type='text/css', href='assets/css/main.min.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,400', rel='stylesheet')
		link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
		link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
		link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
		link(rel='manifest', href='/manifest.json')
		link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
		meta(name='theme-color', content='#ffffff')

	body
		//- nav
		//- 	#nav.overlay
		//- 		a.closeBtn(href='#', onclick='closeNav()') &times
		//- 		.overlayContent
		//- 			a(href='#') Home
		//- 			a(href='#') Img
		//- 			a(href='#') Products
		//- 			a(href='#') Contact
		//- 			a(href='#') C_V
		//- 	a.openBtn(href='#', onclick='openNav()') Open Nav
		header
			.heroSection
				.main
					.wText
						h1 Restaurant Landing Page
						p
							| From logo design to website development, hand-picked designers and developers are ready to complete.
						a(href='#')
							i.fa.fa-pencil-square-o
							| Make a Reservation
			.arrow
				img(src='../images/faIcons/arrow.svg')
		section#services
			.services
				h1 Make Awesome Heading Section
				p
					| From logo design to website development, hand-picked designers and developers are ready to complete your new project.
		section#features
			.features
				.innerFeatures
					.burger.aos-item(data-aos='fade-righ')
						img(src='http://themeforest.pixfort.com/landing/flatpack/22_restaurant/images/main/r1.png')
						h6 Fast Food
						p
							| Lorem ipsum dolor sit Seamlessly empower fully researched growth strategies interoperable internal.
						a(href='#')
							i.fa.fa-ravelry
							| Order Meal
					.beer
						img(src='http://themeforest.pixfort.com/landing/flatpack/22_restaurant/images/main/r2.png').aos-item(data-aos='fade-left')
						h6 Fast Food
						p
							| Lorem ipsum dolor sit Seamlessly empower fully researched growth strategies interoperable internal.
						a(href='#')
							i.fa.fa-ravelry
							| Order Meal
					.meat
						img(src='http://themeforest.pixfort.com/landing/flatpack/22_restaurant/images/main/r3.png').aos-item(data-aos='flip-left')
						h6 Fast Food
						p
							| Lorem ipsum dolor sit Seamlessly empower fully researched growth strategies interoperable internal.
						a(href='#')
							i.fa.fa-ravelry
							| Order Meal
		section#brands
			.brands
				span
					h5 How Trust PixFort
					p The Best Companies Which Trust Our Digital Goods
			.banners
				.commerce
					img(src='http://themeforest.pixfort.com/landing/flatpack/22_restaurant/images/main/logos/bigcommerce.png')
				.square
					img(src='http://themeforest.pixfort.com/landing/flatpack/22_restaurant/images/main/logos/foursquare.png')
				.space
					img(src='http://themeforest.pixfort.com/landing/flatpack/22_restaurant/images/main/logos/squarespace.png')
		section#quality
			.quality
				.innerQuality
					.booking
						h1 Restaurant High Quality Services
						h6 BOOK YOUR SEAT ONLINE
						p
							| Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo consequat Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
						a(href='#') Bookmark Recipes
					.bookImg
						img(src="http://themeforest.pixfort.com/landing/flatpack/22_restaurant/images/main/hl-6.jpg")
					.meals
						h1 Delicious Meals Weekly in Inbox
						h6 OUR SERVICE IS TOTALLY FREE
						p
							| Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo consequat Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
						a(href='#') Add to Favorits
		section#logo
			.logo
				.innerLogo
					span
						h1 Make Awesome Heading Section
						p
							| From logo design to website development, hand-picked designers and developers are ready to complete your new project.
					.logoContent
						img(src='http://themeforest.pixfort.com/landing/flatpack/22_restaurant/images/main/t3.png').aos-item(data-aos='fade-righ')
						p
							| Lorem ipsum dolor sit amet consectet adipiscing elit sed do eiusmoda tempo incididunt ut labore et dolore magnar aliqua Ut enim ad voluptate velit esse.
						p Mark Smith
					.logoContent
						img(src='http://themeforest.pixfort.com/landing/flatpack/22_restaurant/images/main/t2.png')
						p
							| Lorem ipsum dolor sit amet consectet adipiscing elit sed do eiusmoda tempo incididunt ut labore et dolore magnar aliqua Ut enim ad voluptate velit esse.
						p Mark Smith
		







		





		script.
			AOS.init({
			easing: 'ease-in-out-back',
			});


		
		
		script.
			function openNav() {
			document.getElementById("nav").style.width = "100%";
			}
			function closeNav() {
			document.getElementById("nav").style.width = "0%";
			}
